.modal-container {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100vh;
  display: none;
  align-items: center;
  justify-content: center;
}

.modal-container.show {
  display: flex;
}

.modal-container .modal-content {
  padding: 30px;
  background-color: white;
}

.modal-container .modal-content .modal-btn {
  margin-top: 10px;
  padding: 3px 10px;
  text-align: center;
}
